.jumbotron {
  padding-top: 7rem;
  background-color: #e2edff;
}

#gallery {
  background-color: #e2edff;
}

section {
  padding-top: 5rem;
}

/* .nav-item {
  float: left;
}

.nav-item a {
  display: block;
  color: white;
  text-align: center;
  text-decoration: none;
}

.nav-item a:hover {
  background-color: #575757;
}

.active a {
  color: white;
} */
